# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS-specific files
.DS_Store
.AppleDouble
.LSOverride

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.Python
.installed.cfg
MANIFEST

.idea/

